.box {
  padding: 2rem;
  background-color: var(--black-800);
  border-radius: 1rem;
  div {
    background: var(--purple-100);
    display: block;
    width: 3.875rem;
    height: 3.875rem;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 50%;
  }

  h2 {
    font-size: 2.188rem;
    line-height: 5rem;
  }
  p{
      font-size: 1.5rem;
      line-height:2rem;
      font-weight: 300;
  }
}
