.container {
  .greeting {
    font-size: 1.563rem;
    line-height: 3.125rem;
    color: var(--cyan-100);
    text-transform: uppercase;
  }

  .info {
    font-size: 1.5rem;
    color: var(--gray-100);
    max-width: 50rem;
    line-height: 2.75rem;
    margin-top: 1.875rem;
  }
  .sectionSubscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    .content {
      h1 {
        font-size: 5.375rem;
        line-height: 7.063rem;
        margin-top: 0.938rem;
        span {
          color: var(--purple-100);
        }
      }
    }
  }

  .sectionAbout {
    padding: 10rem 0;
    display: flex;
    justify-content: space-between;
    background-image: url("../../public/images/Starts.png");
    background-repeat: no-repeat;
    background-position: center;
    .imageMe {
      width: 31.25rem;
      height: 31.25rem;
      img {
        border-radius: 50%;
      }
    }
    .apresentation {
      h2 {
        font-size: 2.813rem;
        line-height: 4.375rem;
        font-weight: bold;
      }
      .follow {
        margin-top: 3rem;
      }
    }
    .iconsSocialMedias {
      a {
        padding-right: 1rem;
        svg {
          height: 3.125rem;
          width: 3.125rem;
          transition: transform 0.5s;
          &:hover{
            transform: rotate(20deg);
          }
        }

      }
    }
  }
}
.rocketFooter{
  position: absolute;
  right: 0;
  bottom: -139%;
}

.astronautFooter{
  position: absolute;
}

.bgLines {
  background-image: url("../../public/images/lines.png");
  background-repeat: no-repeat;
  background-position: left;
}
