.container {
  margin-top: 12rem;
  .footer {
    .ancoras {
      display: flex;
      justify-content: space-between;
      padding: 0 10rem;
      .invidualAncora {
        span {
          display: block;
          font-size: 1.563rem;
          line-height: 3.125rem;
          color: var(--cyan-100);
        }
        a {
          font-size: 1rem;
          line-height: 35px;
          font-weight: 300;
        }
      }
    }
    .socialMedias {
      padding: 0 15rem;
      display: flex;
      justify-content: space-between;
      span {
        font-size: 24px;
        font-weight: 300;
        padding-right: 2rem;
      }
      a {
        padding-right: 2rem;
        svg {
          font-size: 40px;
        }
      }
    }
  }
  .divader {
    margin: 3rem 0;
    padding: 1px;
    background-color: var(--white);
  }
}
